*{
	margin:0px;
	padding: 0px;
}
#wrap{
	width: 1500px;
	position: absolute;
	margin:auto;
	left: 0px;
	right: 0px;
}
#logo{
	float: left;
	height: 200px;
	padding: 30px;
	width: 200px;
}
#qoute{
	float: left;
	width: 1230px;
	text-align: center;
	padding-top: 50px;
	margin-top: 40px;
	height: 200px; 
}
#content-side{
	width: 300px;
	height: 300px;
	float: left;
}
#content-side a{
	text-decoration: none;
	color: #C6BBA9;
	font-family: verdana;
	font-size: 20px;
}
#content-main{
	width: 790px;
	height: 400px;
	padding-left: 200px;
	float: left;
}
#content-main h2{
	font-family: verdana;
}
