*{
	margin:0px;
	padding: 0px;
}
body{
	padding: 20px;
	background-color: #55CCFF;
}

ul li{
	text-align: center;
	list-style-position:inside;
	font-family:Arial;

}
ul li::first-letter{
	font-size: 30px;
}
p{
	font-family:Arial;
	margin-top: 20px;
}


