*{
	margin:0px;
	padding: 0px;
}
body{background-color: #364371;}

#wrap{
	width: 900px;
	height: 500px;
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	background-color: red;
}
#nav{
	background:#B0CFFF;
	width: 250px;
	height: 500px;
	float: left;
}
#nav ul{
	margin-left: 80px;
	margin-top: 30px;
}
#nav ul li{
	font-family: arial;
}
h2{
	margin-top: 30px;
	font-family: verdana;
	text-align: center;
}
#content{
	float: left;
	background-color: #5B7FBD;
	width: 550px;
	height: 400px;
	text-align: center;
	padding: 50px;
}
#content ul{margin-top: 30px;}
#content ul li{
	list-style-type: none;
	font-family: arial;
}
#content h1{
	font-family: verdana;
}
#content p{
	margin-top: 20px;
	font-family: arial;
}
.copyright{
	font-family: arial;
	position: absolute;
	top: 500px;
}
